<!-- <div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>
-->

<div class="bg-img jukebox">

<div style="position:absolute; top: 30.7%; left: 35.7%; height: 20px; width: 310px;">
  <h2 class="album" style="margin:0; padding:0; text-align:center; font-size:15px;"></h2>
</div>

<div style="position: absolute; top: 47.9%; left: 42.7%; border-style: solid 2px; height: 35px; width: 166px; overflow: hidden;"><div class="scroll"><h1></h1></div>
</div>


<div id="songbox"><iframe style="display:none;" src="" frameborder="0"></iframe></div>

<!-- MIDDLE BUTTONS -->
<div class="change1 midbuttons hvr-back-pulse" style="top: 35%; left: 48.8%;"></div>
<div class="change2 midbuttons hvr-back-pulse" style="top: 36.5%; left: 48.8%;"></div>
<div class="change2 midbuttons hvr-back-pulse" style="top: 36.5%; left: 48.8%;"></div>
<div class="change3 midbuttons hvr-back-pulse" style="top: 38.1%; left: 48.8%;"></div>
<div class="change4 midbuttons hvr-back-pulse" style="top: 39.8%; left: 48.8%;"></div>
<div class="change5 midbuttons hvr-back-pulse" style="top: 35%; left: 50%;"></div>
<div class="change6 midbuttons hvr-back-pulse" style="top: 36.5%; left: 50%;"></div>
<div class="change7 midbuttons hvr-back-pulse" style="top: 38.1%; left: 50%;"></div>
<div class="change8 midbuttons hvr-back-pulse" style="top: 39.8%; left: 50%;"></div>
<div class="change9 midbuttons hvr-back-pulse" style="top: 41.3%; left: 48.8%;"></div>

<!-- LEFT SONGS -->
<h1 class="first-left songs" style="top:33%; left:38.2%;">Bang Bang Bang</h1>
<h1 class="second-left songs" style="top:36%; left:38.2%;">Loser</h1>
<h1 class="third-left songs" style="top:38.7%; left:38.2%;">Fantastic Baby</h1>
<h1 class="fourth-left songs" style="top:41.5%; left:38.2%;">Good Boy</h1>

<!-- RIGHT SONGS -->
<h1 class="first-right songs" style="top:33%; left:52.7%;">Eyes Nose Lips</h1>
<h1 class="second-right songs" style="top:36%; left:52.7%;">We Like To Party</h1>
<h1 class="third-right songs" style="top:38.7%; left:52.7%;">Tonight</h1>
<h1 class="fourth-right songs" style="top:41.5%; left:52.7%;">Monster</h1>

</div>
